@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0066cc;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

html.dark {
  color-scheme: dark;
}
